.header{
    height: 100px;
    background-color: #000233;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.mainBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
  }
  .brandName {
    color:#D1232A;
    font-size: 36px;
    font-weight: bold;
  }
  .subTitle {
    color:  #cac9c9;
    font-size:13px;
  }
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500PX;
    height: 40PX;
    border: 1px solid gray;
    gap: 20px;
  }
  .navLink {
    color:white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    font-size: 12px;

    p{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

   
  }
  .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: #fff;
  }
  .navLink:hover{
    color: #ff0000;
    animation: 0.3ms ease-out;
  }
  .searchButton {
    background-color: #ff0000;
    border: none;
    border-radius:50%;
    padding: 10px;
    cursor: pointer;
  }
  .toggle{display: none;}

  @media screen and (max-width: 768px) {
    .header{
      height: 100px;
      width: 100%;
      background-color: #000233;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
  }
  .logo{
     margin-left: 10px;
  }
  .logo img{
    width: 80px;
    height: 100px;
 }
  .navLinks {
   opacity: 0;
  }
    .mainBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
    }
    .brandName {
      display: none;
  
    }
    .subTitle {
      display: none;
    }
    .navLinks a{
      display: none;
    }
    
  
    .toggle{
        display: block;
        background: none;
        color: #fff;
        font-size: 30px;
        position: absolute;
        left: 75%;
        border: none;
        cursor: pointer;
    }
     .mobil-nave{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        gap: 1.5rem;
        padding: 10px;
        top: 8.4rem;
        left: 55%;
        width: 40%;
        height: 40vh;
        background-color:  #555;
    }
  }



