.sousnewse{
    width: 100%;
    height: auto;
    padding-top: 8rem;
    background-color: #FFFFFF;
}


.imagelefte{
    height: 430px;
    margin-left: 5rem;
}
.photohaute{
    display: flex;
    gap: 2.5rem;
}

.telecomtraining{
    display: flex;
    width: 60vw;
    margin-left: -4rem;
}
.imageflex{
    display: flex;
    gap: 10px;
}
.techniciens{
    margin-left: -4rem;
    height: 100vh;
    justify-content: center;
    margin-top: 10rem;
}

@media screen and (max-width: 768px) {
    .sousnewse{
        width: 100%;
        height: auto;
        padding-top: 8rem;
        background-color: #FFFFFF;
    }
       .bbc{
        font-size: 12px;
        margin-left: -50px;
        height: auto;
        margin-top: -100px;
       }
    
       .bbc h1{
        font-size: 40px;
        margin-left: 60px;
       }
       .bbc span:nth-of-type(1){
        font-size: 15px;
       }
       .techskill h1{
        font-size: 15px;
        margin-left: 100px;
       }
       .colonerigth{
        margin-top: -50px;
        
        p{
            font-size: 12px;
        }
       }
 

   .imagelefte{
    display: flex;
    margin-left: -40px;
   }
   
 
   .telecomtraining{
    display: flex;
    flex-direction: column;
    margin-left: -11rem;
    height: auto;
    
    h1{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
    img{
      width: 200px;
      height: 150px;
      margin-left: 1px;
    }
}
.techniciens{
    display: none;
   }
.technicines{
  display: none;
}

}

