.souscours{
    width: 100%;
    height: auto;
    padding-top: 5rem;
    background-color: #FFFFFF;
}
.technicien{
    margin-top: 10rem;
    height: 100vh;
    padding: 0 250px;
    background-color: #f7fafc;
}

.imagelefte{
    height: 430px;
    margin-left: 5rem;
}
.photohaute{
    display: flex;
    gap: 2.5rem;
}
.techniciens{
    margin-top: 10rem;
    height: 100vh;
    padding: 0 50px;
    background-color: #ffffff;
}
.imageflex{
    display: flex;
    gap: 10px;
}
.technicines{
    height: 110vh;
    padding: 0 50px;
    background-color: #f7fafc;
}
@media screen and (max-width: 768px) {
   .souscours{
        width: 70%;
        height: auto;
        padding-top: 5rem;
        background-color: #FFFFFF;
        display: flex;
        margin-left: -50px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
   }
   .technicien{
    margin-top: 10rem;
    height: auto;
    width: 80vw;
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    background-color: #f7fafc;
   }
   .bbc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;

    h1{
        font-size: 30px;
    }
   }
   .imagelefte{
    display: flex;
    margin-left: -40px;
   }
   .techniciens{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
   }
   .technicines{
        height: auto;
        background-color: #f7fafc;
        line-height: 25px;
   }
}

