
.about{
    width: 20vw;
}
.imagedroite img{
    width: 380px;
    height: 350px;
    margin-left: 2rem;
}

.bouton{
    width: 150px;
    height: 40px;
    border: none;
    font-size: 15px;
    background-color: #f9c231;
    cursor: pointer;
}
.colaps{
    display: block;
    position: relative;
}
.formeColaps{
    width: auto;
    height: 40vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;

    label{
        font-size: 16px;
        width: 180px;
        height: 50px;
        text-align: center;
        justify-content: center;
        color: white;
        background-color: #000080;
        border-radius: 2px;
    }
    input{
        outline: none;
        padding-left: 10px;
        height: 50px;
        font-size: 12px;
        width: 180px;
    }
    textarea{
        height: 150px;
        width: 180px;
        outline: none;
        padding: 10px;
        padding-left: 10px;
    }
    button{
        width: 100px;
        height: 50px;
        justify-content: end;
        border: none;
        cursor: pointer;
        font-size: 13px;
        background-color: #000080;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .about{
        width: 100%;
        margin-left: -10px;
    }
    .imagedroite img{
        width: 250px;
        height: 200px;
        margin-left: -10px;
        margin-top: -8rem;
    }
    .bouton{
        width: 140px;
        height: 30px;
        border: none;
        font-size: 12px;
        background-color: #f9c231;
        cursor: pointer;
    }

    .formeColaps{
        width: 75vw;
        height: 40vh;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-top: 20px;
        position: absolute;
        background-color: rgba(100, 100, 100, 0.8);
        top: 0;
    
        label{
            display: none;
        }
        input{
            outline: none;
            padding-left: 10px;
            height: 50px;
            font-size: 12px;
            width: 180px;
        }
        textarea{
            height: 150px;
            width: 180px;
            outline: none;
            padding: 10px;
            padding-left: 10px;
        }
        button{
            width: 100px;
            height: 50px;
            justify-content: end;
            border: none;
            cursor: pointer;
            font-size: 13px;
            background-color: #000080;
            color: white;
        }
    }
}