
.bonneraison{
    width: 100%;
    height: 110vh;
    padding: 30px;
    background-color: #e4e4e4;
}

.menue{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.menuLeft{
    flex: 0;
    height: 52vh;
    margin-top: 55px;
    margin-left: 50px;
    display: flex;
    align-items: center;

.news{
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 200px;
    height: 53vh;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   
}
label{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;  
    position: absolute;
    margin-top: 15%;

}
}
.menuCenter{
    flex: 0;
    display: flex;
    margin-top: 53px;
    gap: 1rem;
}
.menucentertop{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.menucenterbottom{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.menuCenter .contactes{
    width: 190px;
    height: 180px;
    color: #fff;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    background-color: #000233;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    label{
        width: 20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 7rem;
        border: 1px solid white;
        border-radius: 50%;
        background-color: #fff;
       
    }
    i{
        color: black;
        font-size: 12px;
    }
}
.menuCenter .training{
    width: 190px;
    height: 180px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f9c231;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    label{
        width: 20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        margin-left: 7rem;
        cursor: pointer;
        border: 1px solid #000080;
        border-radius: 50%;
        background-color: #000080;

    }
    i{
        color: #f9c231;
        font-size: 12px;
    }
}
.menuCenter .calandare{
    width: 190px;
    height: 180px;
    cursor: pointer;
    color: #000233;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    label{
        width: 20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        margin-left: 7rem;
        cursor: pointer;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: black;

    }
    i{
        color: #ffffff;
        font-size: 12px;
    }
}
.menuCenter .view{
    width: 190px;
    height: 180px;
    color: #fff;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    background-color: #000080;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    label{
        width: 20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        margin-left: 7rem;
        cursor: pointer;
        border: 1px solid #000080;
        border-radius: 50%;
        background-color: #fff;

    }
    i{
        color: #000080;
        font-size: 12px;
    }
}
.menuRigth{
    flex: 0;
    margin-top: 50px;
    margin-right: 60px;
    height: 52vh;
}
.blockmenu{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.blockmenu .blog{
    width: 200px;
    height: 140px;
    color: #fff;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    background-color: #000080;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    label{
        width: 20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        margin-left: 8rem;
        cursor: pointer;
        border: 1px solid #000080;
        border-radius: 50%;
        background-color: #fff;

    }
    i{
        color: #000080;
        font-size: 12px;
    }
}

.blockmenu .story{
    background: url("../../../public/image/menuback.jpg");
    height: 220px;
    width: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

    label{
        width: 20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        margin-left: 8rem;
        cursor: pointer;
        border: 1px solid #000080;
        border-radius: 50%;
        background-color: #fff;

    }
    i{
        color: #000080;
        font-size: 12px;
    }
}


.ourvalue{
  
        width: 100%;
        height: 115vh;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    
}
  
.referenc{
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .bonneraison{
        width: 100%;
        height: auto;
        background-color: #e4e4e4;
    }
    .menue{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .menuLeft{
        height: auto;
    
    
    .news{
        background-color: brown;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 55px;
        width: 370px;
        position: absolute;
        top: 0;
        left: -12rem;
        height: 10%;
        cursor: pointer;
        border-radius: 10px;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
       
    }
    .news i{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
    }
    }
    .menuCenter{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        margin-left:-18.5rem;
    }
    .menuRigth{
        width: 100%;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left:-18.5rem;
    }
    .referenc{
        display: none;
    }

    .menuCenter .contactes{
        width: 370px;
        height: 180px;
        color: #fff;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        padding: 30px;
        justify-content: space-between;
        background-color: #000233;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
    
        label{
            width: 20px;
            height: 20px;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 17rem;
            border: 1px solid white;
            border-radius: 50%;
            background-color: #fff;
           
        }
        i{
            color: black;
            font-size: 12px;
        }
    }
    .menuCenter .training{
        width: 370px;
        height: 180px;
        color: black;
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: space-between;
        cursor: pointer;
        background-color: #f9c231;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
    
        label{
            width: 20px;
            height: 20px;
            text-align: center;
            justify-content: center;
            margin-left: 17rem;
            cursor: pointer;
            border: 1px solid #000080;
            border-radius: 50%;
            background-color: #000080;
    
        }
        i{
            color: #f9c231;
            font-size: 12px;
        }
    }
    .menuCenter .calandare{
        width: 370px;
        height: 180px;
        cursor: pointer;
        color: #000233;
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
    
        label{
            width: 20px;
            height: 20px;
            text-align: center;
            justify-content: center;
            margin-left: 17rem;
            cursor: pointer;
            border: 1px solid #ffffff;
            border-radius: 50%;
            background-color: black;
    
        }
        i{
            color: #ffffff;
            font-size: 12px;
        }
    }
    .menuCenter .view{
        width: 370px;
        height: 180px;
        color: #fff;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        padding: 30px;
        justify-content: space-between;
        background-color: #000080;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
    
        label{
            width: 20px;
            height: 20px;
            text-align: center;
            justify-content: center;
            margin-left: 17rem;
            cursor: pointer;
            border: 1px solid #000080;
            border-radius: 50%;
            background-color: #fff;
    
        }
        i{
            color: #000080;
            font-size: 12px;
        }
    }
    .blockmenu .blog{
        width: 370px;
        height: 180px;
        margin-top: 13px;
        color: #fff;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        padding: 30px;
        justify-content: space-between;
        background-color: #000080;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
    
        label{
            width: 20px;
            height: 20px;
            text-align: center;
            justify-content: center;
            margin-left: 17rem;
            cursor: pointer;
            border: 1px solid #000080;
            border-radius: 50%;
            background-color: #fff;
    
        }
        i{
            color: #000080;
            font-size: 12px;
        }
    }
    
    .blockmenu .story{
        background: url("../../../public/image/menuback.jpg");
        height: 180px;
        width: 370px;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        color: #fff;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        padding: 30px;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
    
        label{
            width: 20px;
            height: 20px;
            text-align: center;
            justify-content: center;
            margin-left: 17rem;
            cursor: pointer;
            border: 1px solid #000080;
            border-radius: 50%;
            background-color: #fff;
    
        }
        i{
            color: #000080;
            font-size: 12px;
        }
    }
    
}