
.imagegauche img{
    height: 345px;
    width: 350px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .imagegauche img{
        height: 250px;
        width: 250px;
        object-fit: cover;
    }
}