
.imagegauche img{
    height: 345px;
    width: 350px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .service{
        width: 100%;
        height: auto;
        margin-left: -16%;
    }
}