.values{
    height: 100vh;
    width: 100%;
    background-color: #e4e4e4;
}
.valuesBlock{
    display: flex;
    height: 100%;
}
.valueleft{
    flex: 1;
    background: url("../../../public/image/main.jpg");
    height: 100%;
    width: 250px;
    background-position: center;
    background-size: cover;
}
.valueRigth{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.titreValues{
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 100px;
    font-size: 20px;
    color: #000080;
}

.iconValues{
    display: flex;
    width: 100%;
    height: 100%;
}
.iconvaluesLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.iconvaluesLeft .icone1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b1900;
    border-bottom: 1px solid gray;
    height: 100%;   

    img{
        width: 150px;
    }
}
.iconvaluesLeft .icone3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b1900;
    cursor: pointer;
    height: 100%;   

    img{
        width: 100px;
    }
}
.iconvaluesLeft .icone3:hover{
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;   
    cursor: pointer;
 
    img{
     opacity: 0;
    }
 
    &::after{
     content: "Adaptability and Innovation";
     font-size: 26px;
     margin-right: 115px;
    }   
}
.iconvaluesLeft .icone1:hover{
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   
    cursor: pointer;
    img{
     opacity: 0;
    }
 
    &::after{
     content: "Safety First";
     font-size: 26px;
     margin-right: 115px;
    }   
}

.iconvaluesRigth{
    flex: 1;
    border-left: 1px solid gray;
    display: flex;
    flex-direction: column;
   
}
.iconvaluesRigth .icone2{
    background-color: #8b1900;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;  
    
    img{
        width: 200px;
    }
}
.iconvaluesRigth .icone4{
    background-color: #8b1900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   
    cursor: pointer;
}
.iconvaluesRigth .icone4:hover{
   background-color: #ffff;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90%;   
   cursor: pointer;

   img{
    opacity: 0;
   }

   &::after{
    content: "Integrety and Exelence";
    font-size: 26px;
    margin-right: 115px;
   }
}
.iconvaluesRigth .icone2:hover{
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   
    cursor: pointer;
 
    img{
     opacity: 0;
    }
 
    &::after{
     content: "Quality training & Conformities";
     font-size: 26px;
     margin-right: 115px;
    }
 }

 @media screen and (max-width: 768px) {
    .values{
        height: auto;
        width: 100%;
        background-color: #e4e4e4;
    }
    .valuesBlock{
        display: flex;
        height: 100%;
    }
    .valueleft{
      display: none;
    }
    .titreValues{
        width: 100%;
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #000080;
    }
    .valueRigth{
        display: flex;
        flex-direction: column;
    }
    .iconValues{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .iconvaluesLeft{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .iconvaluesLeft .icone1{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #8b1900;
        border-bottom: 1px solid gray;
        height: 100%;   
    
        img{
            width: 80px;
        }
    }
    .iconvaluesLeft .icone3{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #8b1900;
        cursor: pointer;
        height: 100%;   
    
        img{
            width: 60px;
        }
    }
    .iconvaluesLeft .icone3:hover{
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;   
        cursor: pointer;
     
        img{
         opacity: 0;
        }
     
        &::after{
         content: "Adaptability and Innovation";
         font-size: 14px;
         margin-right: 80px;
        }   
    }
    .iconvaluesLeft .icone1:hover{
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;   
        cursor: pointer;
        img{
         opacity: 0;
        }
     
        &::after{
         content: "Safety First";
         font-size: 14px;
        margin-right: 80px;
        }   
    }
    .iconvaluesRigth .icone4{
        background-color: #8b1900;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;   
        cursor: pointer;
        img{
            width: 70px;
        }
    }
    .iconvaluesRigth .icone4:hover{
       background-color: #ffff;
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100%;   
       cursor: pointer;
    
       img{
        opacity: 0;
       }
    
       &::after{
        content: "Integrety and Exelence";
        font-size: 14px;
        margin-right: 80px;
       }
    }
    .iconvaluesRigth .icone2{
        background-color: #8b1900;
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 100%;  
        
        img{
            width: 100px;
        }
    }
    .iconvaluesRigth .icone2:hover{
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;   
        cursor: pointer;
     
        img{
         opacity: 0;
        }
     
        &::after{
         content: "Quality training & Conformities";
         font-size: 12px;
         margin-right: 80px;
        }
     }
 }