.footerLogo{
    width: 200px;
    height: 250px;
}
@media screen and (max-width: 768px) {
    .footerLogo{
        width: 100px;
        height: 130px;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}